#!/bin/bash
#----------------------- <+++ansible-managed-file+++> -------------------------+
#
#                             IMPORTANT WARNING
#
#  This file is managed remotely by Ansible orchestration tool. Any local
#  changes will be overwritten without any notice !!! You have been warned !!!
#
#----------------------- <+++ansible-managed-file+++> -------------------------+

#
echo Running: wai=`whoami` uid=$UID euid=$EUID pwd=`pwd` args=$@

# Make sure the repository contents will always have correct permissions
/bin/chown -R root:{{ item['key'] }} /var/ansible/{{ item['key'] }}
